DATABASE_URL=
NODE_ENV=development
PORT=4004

SUPPLIER_API_URL=http://localhost:4010
ERP_API_URL=http://localhost:4011
ACCOUNTING_API_URL=http://localhost:4012

INTEGRATION_SUPPLIER_URL=
INTEGRATION_ERP_URL=
INTEGRATION_ACCOUNTING_URL=