DATABASE_URL=

cds.requires.db.[pg].kind = postgres
cds.requires.db.[pg].credentials.host =
cds.requires.db.[pg].credentials.port = 5432
cds.requires.db.[pg].credentials.user =
cds.requires.db.[pg].credentials.password =
cds.requires.db.[pg].credentials.database =
cds.requires.db.[pg].credentials.ssl = true